database/sqlite/*.sqlite
cache/
.idea/
node_modules/
vendor/
composer.lock
.env
package-lock.json
phpcs.xml
phpdoc.xml
php_errors.log
phpstan.neon
phpuni.xml
report.txt
Thumbs.db
*.log
*.txt
*.swo
*.swp
