database/sqlite/*.sqlite
cache/
.idea/
node_modules/
vendor/
.vscode/
composer.lock
.env
package-lock.json
phpcs.xml
phpdoc.xml
php_errors.log
phpstan.neon
phpunit.xml
report.txt
Thumbs.db
*.log
*.txt
*.swo
*.swp

!storage/framework/data/cache/
